@{
    ViewBag.Title = "Contact";
}
<address>
    828 Sư Vạn Hạnh, phường 14, quận 10, TP.HCM<br />
    Redmond, WA 98052-6399<br />
    (84+)35555999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>