<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Nabati - @ViewBag.Title</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="~/Content/carousel.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
            <div class="container-fluid">
                <img src="~/Content/Icon/shoes.jpg" height="50" width="50" />
                <a class="navbar-brand" href="~/Home/Index">Nabati</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="~/Home/Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Products/Shop">Cửa hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Carts/Cart">
                                Giỏ hàng
                                (@Session["Count"])
                            </a>
                        </li>
                    </ul>
                    @using (Html.BeginForm("Search", "Products", FormMethod.Get, new { @class = "d-flex" }))
                    {
                        <input class="form-control me-2" type="search" placeholder="Search" name="input" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                        <a class="nav-link active p-md-2" href="~/Users/Login">
                            <img src="~/Content/Icon/user.png" height="30" width="30" />
                        </a>
                    }
                    <a href="@Url.Action("Logout", "Users")">Logout</a>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>
