<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/ShopStyle.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_MenuBar")
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="@Url.Action("AllPrice", "Products")" class="text-decoration-none btn btn-outline-primary">All Price</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="@Url.Action("FirstRange", "Products")" class="text-decoration-none btn btn-outline-primary">100.000 - 500.000</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">500.000 - 1.000.000</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">1.000.000 - 2.000.000</a>
                    </div>.
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">2.000.000 - 5.000.000</a>
                    </div>
                </div>
                <!-- Price End -->
                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">All Color</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">Black</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">White</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">Red</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between mb-3">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">Blue</a>
                    </div>
                    <div class="custom-control d-flex align-items-center justify-content-between">
                        <a href="#" class="text-decoration-none btn btn-outline-primary">Green</a>
                    </div>
                </div>
                <!-- Color End -->
            </div>
            <!-- Shop Sidebar End -->
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    @RenderBody()
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
</body>
</html>
