<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <img src="~/Content/Images/size_chart.jpg" height="300" width="450"/>
        <h2>
            <i>BẠN GẦN VỪA VỚI HAI KÍCH CỠ?</i>
        </h2>
        <p>
            Để bó sát, lấy nhỏ hơn một cỡ.
        </p>
        <p>Để rộng thoải mái, lấy to hơn một cỡ.</p>
        <hr />
        <h2><i>CÁCH ĐO</i></h2>
        <p>Làm theo những bước sau để chọn đúng kích cỡ. Để tìm số đo chuẩn nhất, hãy đo bàn chân bạn vào cuối ngày.</p>
        <div>
            <ol>
                <li>Đứng lên một mảnh giấy với gót chân chạm nhẹ vào bức tường phía sau.</li>
                <li>Đánh dấu đỉnh đầu của ngón chân dài nhất lên giấy (nên nhờ một người bạn giúp đỡ) và đo khoảng cách từ tường đến điểm đánh dấu.</li>
                <li>Làm tương tự với bàn chân còn lại và so sánh số đo với biểu đồ kích cỡ của chúng tôi để chọn đúng kích cỡ.</li>
            </ol>
        </div>
        <div class="float-end">
            <img src="~/Content/Images/how_to_size.png" height="300" width="450"/>
        </div>
        <h2><i>KHÔNG ĐÚNG KÍCH CỠ HOẶC MÀU SẮC</i></h2>
        <p>Không vấn đề gì, chúng tôi chấp nhận trả hàng trong vòng 30 ngày.</p>
    </div>
</body>
</html>
